/*
 *
 * Author: Chris Deacy
 * Author Website: http://deacy.io
 *
 * Feel free to use and edit this grid to your liking.
 *
 */

* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.clear:after, .container:after, .row:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 100%;
	max-width: 1200px;
	min-width: 280px;
	margin: 0 auto;
	padding: 0 15px;
}

.col-no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.col1-desktop, .col1-tablet, .col1-mobile, .col1, .col2-desktop, .col2-tablet, .col2-mobile, .col2, .col3-desktop, .col3-tablet, .col3-mobile, .col3, .col4-desktop, .col4-tablet, .col4-mobile, .col4, .col5-desktop, .col5-tablet, .col5-mobile, .col5, .col6-desktop, .col6-tablet, .col6-mobile, .col6, .col7-desktop, .col7-tablet, .col7-mobile, .col7, .col8-desktop, .col8-tablet, .col8-mobile, .col8, .col9-desktop, .col9-tablet, .col9-mobile, .col9, .col10-desktop, .col10-tablet, .col10-mobile, .col10, .col11-desktop, .col11-tablet, .col11-mobile, .col11, .col12-desktop, .col12-tablet, .col12-mobile, .col12 {
	width: 100%;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.col1-mobile,
.col1 {
	width: 8.33333%;
	float: left;
}

.col2-mobile,
.col2 {
	width: 16.66667%;
	float: left;
}

.col3-mobile,
.col3 {
	width: 25%;
	float: left;
}

.col4-mobile,
.col4 {
	width: 33.33333%;
	float: left;
}

.col5-mobile,
.col5 {
	width: 41.66667%;
	float: left;
}

.col6-mobile,
.col6 {
	width: 50%;
	float: left;
}

.col7-mobile,
.col7 {
	width: 58.33333%;
	float: left;
}

.col8-mobile,
.col8 {
	width: 66.66667%;
	float: left;
}

.col9-mobile,
.col9 {
	width: 75%;
	float: left;
}

.col10-mobile,
.col10 {
	width: 83.33333%;
	float: left;
}

.col11-mobile,
.col11 {
	width: 91.66667%;
	float: left;
}

.col12-mobile,
.col12 {
	width: 100%;
	float: left;
}

.left0-mobile,
.left0 {
	margin-left: 0%;
}

.right0-mobile,
.right0 {
	margin-right: 0%;
}

.left1-mobile,
.left1 {
	margin-left: 8.33333%;
}

.right1-mobile,
.right1 {
	margin-right: 8.33333%;
}

.left2-mobile,
.left2 {
	margin-left: 16.66667%;
}

.right2-mobile,
.right2 {
	margin-right: 16.66667%;
}

.left3-mobile,
.left3 {
	margin-left: 25%;
}

.right3-mobile,
.right3 {
	margin-right: 25%;
}

.left4-mobile,
.left4 {
	margin-left: 33.33333%;
}

.right4-mobile,
.right4 {
	margin-right: 33.33333%;
}

.left5-mobile,
.left5 {
	margin-left: 41.66667%;
}

.right5-mobile,
.right5 {
	margin-right: 41.66667%;
}

.left6-mobile,
.left6 {
	margin-left: 50%;
}

.right6-mobile,
.right6 {
	margin-right: 50%;
}

.left7-mobile,
.left7 {
	margin-left: 58.33333%;
}

.right7-mobile,
.right7 {
	margin-right: 58.33333%;
}

.left8-mobile,
.left8 {
	margin-left: 66.66667%;
}

.right8-mobile,
.right8 {
	margin-right: 66.66667%;
}

.left9-mobile,
.left9 {
	margin-left: 75%;
}

.right9-mobile,
.right9 {
	margin-right: 75%;
}

.left10-mobile,
.left10 {
	margin-left: 83.33333%;
}

.right10-mobile,
.right10 {
	margin-right: 83.33333%;
}

.left11-mobile,
.left11 {
	margin-left: 91.66667%;
}

.right11-mobile,
.right11 {
	margin-right: 91.66667%;
}

.left12-mobile,
.left12 {
	margin-left: 100%;
}

.right12-mobile,
.right12 {
	margin-right: 100%;
}

@media (min-width: 600px) {
	.col1-tablet {
		width: 8.33333%;
		float: left;
	}

	.col2-tablet {
		width: 16.66667%;
		float: left;
	}

	.col3-tablet {
		width: 25%;
		float: left;
	}

	.col4-tablet {
		width: 33.33333%;
		float: left;
	}

	.col5-tablet {
		width: 41.66667%;
		float: left;
	}

	.col6-tablet {
		width: 50%;
		float: left;
	}

	.col7-tablet {
		width: 58.33333%;
		float: left;
	}

	.col8-tablet {
		width: 66.66667%;
		float: left;
	}

	.col9-tablet {
		width: 75%;
		float: left;
	}

	.col10-tablet {
		width: 83.33333%;
		float: left;
	}

	.col11-tablet {
		width: 91.66667%;
		float: left;
	}

	.col12-tablet {
		width: 100%;
		float: left;
	}

	.left0-tablet {
		margin-left: 0%;
	}

	.right0-tablet {
		margin-right: 0%;
	}

	.left1-tablet {
		margin-left: 8.33333%;
	}

	.right1-tablet {
		margin-right: 8.33333%;
	}

	.left2-tablet {
		margin-left: 16.66667%;
	}

	.right2-tablet {
		margin-right: 16.66667%;
	}

	.left3-tablet {
		margin-left: 25%;
	}

	.right3-tablet {
		margin-right: 25%;
	}

	.left4-tablet {
		margin-left: 33.33333%;
	}

	.right4-tablet {
		margin-right: 33.33333%;
	}

	.left5-tablet {
		margin-left: 41.66667%;
	}

	.right5-tablet {
		margin-right: 41.66667%;
	}

	.left6-tablet {
		margin-left: 50%;
	}

	.right6-tablet {
		margin-right: 50%;
	}

	.left7-tablet {
		margin-left: 58.33333%;
	}

	.right7-tablet {
		margin-right: 58.33333%;
	}

	.left8-tablet {
		margin-left: 66.66667%;
	}

	.right8-tablet {
		margin-right: 66.66667%;
	}

	.left9-tablet {
		margin-left: 75%;
	}

	.right9-tablet {
		margin-right: 75%;
	}

	.left10-tablet {
		margin-left: 83.33333%;
	}

	.right10-tablet {
		margin-right: 83.33333%;
	}

	.left11-tablet {
		margin-left: 91.66667%;
	}

	.right11-tablet {
		margin-right: 91.66667%;
	}

	.left12-tablet {
		margin-left: 100%;
	}

	.right12-tablet {
		margin-right: 100%;
	}
}
@media (min-width: 1000px) {
	.col1-desktop {
		width: 8.33333%;
		float: left;
	}

	.col2-desktop {
		width: 16.66667%;
		float: left;
	}

	.col3-desktop {
		width: 25%;
		float: left;
	}

	.col4-desktop {
		width: 33.33333%;
		float: left;
	}

	.col5-desktop {
		width: 41.66667%;
		float: left;
	}

	.col6-desktop {
		width: 50%;
		float: left;
	}

	.col7-desktop {
		width: 58.33333%;
		float: left;
	}

	.col8-desktop {
		width: 66.66667%;
		float: left;
	}

	.col9-desktop {
		width: 75%;
		float: left;
	}

	.col10-desktop {
		width: 83.33333%;
		float: left;
	}

	.col11-desktop {
		width: 91.66667%;
		float: left;
	}

	.col12-desktop {
		width: 100%;
		float: left;
	}

	.left0-desktop {
		margin-left: 0%;
	}

	.right0-desktop {
		margin-right: 0%;
	}

	.left1-desktop {
		margin-left: 8.33333%;
	}

	.right1-desktop {
		margin-right: 8.33333%;
	}

	.left2-desktop {
		margin-left: 16.66667%;
	}

	.right2-desktop {
		margin-right: 16.66667%;
	}

	.left3-desktop {
		margin-left: 25%;
	}

	.right3-desktop {
		margin-right: 25%;
	}

	.left4-desktop {
		margin-left: 33.33333%;
	}

	.right4-desktop {
		margin-right: 33.33333%;
	}

	.left5-desktop {
		margin-left: 41.66667%;
	}

	.right5-desktop {
		margin-right: 41.66667%;
	}

	.left6-desktop {
		margin-left: 50%;
	}

	.right6-desktop {
		margin-right: 50%;
	}

	.left7-desktop {
		margin-left: 58.33333%;
	}

	.right7-desktop {
		margin-right: 58.33333%;
	}

	.left8-desktop {
		margin-left: 66.66667%;
	}

	.right8-desktop {
		margin-right: 66.66667%;
	}

	.left9-desktop {
		margin-left: 75%;
	}

	.right9-desktop {
		margin-right: 75%;
	}

	.left10-desktop {
		margin-left: 83.33333%;
	}

	.right10-desktop {
		margin-right: 83.33333%;
	}

	.left11-desktop {
		margin-left: 91.66667%;
	}

	.right11-desktop {
		margin-right: 91.66667%;
	}

	.left12-desktop {
		margin-left: 100%;
	}

	.right12-desktop {
		margin-right: 100%;
	}
}
@media (min-width: 1000px) {
	.hide-desktop,
	.show-tablet,
	.show-mobile {
		display: none  !important;
	}
}
@media (max-width: 999px) and (min-width: 600px) {
	.hide-tablet,
	.show-desktop,
	.show-mobile {
		display: none !important;
	}
}
@media (max-width: 599px) {
	.hide-mobile,
	.show-desktop,
	.show-tablet {
		display: none !important;
	}
}
